/* Banner */

section.blog-banner .main-blog-pic {
  height: 20rem;
}

section.blog-banner .secondary-blog-pic {
  height: 8rem;
}

section.blog-banner .middle-row:before,
section.blog-banner .middle-row:after {
  content: '';
  width: 100%;
  height: 0.125rem;
  position: absolute;
  top: 0;
  background-color: var(--steel-pink-color);
}

section.blog-banner .middle-row:after {
  top: auto;
  bottom: 0;
}

/* Blogs */

section.blogs-section .single-blog-pic {
  height: 12rem;
}

section.blogs-section .middle-column:after,
section.blogs-section .middle-column:before {
  top: 0;
  content: '';
  height: 100%;
  width: 0.125rem;
  position: absolute;
  left: 0;
  background-color: var(--bs-gray-300);
}

section.blogs-section .middle-column:before {
  left: auto;
  right: 0;
}