/* Banner */

section.blog-banner .main-blog-pic,
section.blog-banner .secondary-blog-pic  {
  aspect-ratio: 8 / 5;
}

section.blog-banner .middle-row:before,
section.blog-banner .middle-row:after {
  content: '';
  width: 100%;
  height: 0.125rem;
  position: absolute;
  top: 0;
  background-color: var(--steel-pink-color);
}

section.blog-banner .middle-row:after {
  top: auto;
  bottom: 0;
}

/* Blogs */

section.blogs-section .single-blog-pic {
  aspect-ratio: 8 / 5;
}

section.blogs-section .middle-column:before,
section.blogs-section .middle-column:after,
section.blogs-section .odd-column:before {
  top: 0;
  content: '';
  height: 100%;
  position: absolute;
  width: 0px;
  left: 0;
  background-color: var(--bs-gray-300);
}

section.blogs-section .middle-column:after {
  left: auto;
  right: 0;
}

@media only screen and (min-width: 768px) {
  section.blogs-section .odd-column:before {
    width: 0.125rem;
  }

}

@media only screen and (min-width: 992px) {

  section.blogs-section .odd-column:before {
    width: 0px;
  }

  section.blogs-section .middle-column:before,
  section.blogs-section .middle-column:after {
    width: 0.125rem;
  }
}