/* Banner */
@media (min-width: 364px) {
  #home-banner h1 br {
    display: inline !important;
  }
}

#home-banner .home-banner-img-container {
  min-height: 16rem;
}

#home-banner-image {
  width: 127.5%;
  top: -10%;
  right: -10%;
}

@media (min-width: 390px) {

  #home-banner-image {
    top: -30%;
  }
}

@media (min-width: 992px) {

  #home-banner-image {
    width: 160%;
    right: -35%;
    top: -20%;
  }
}

@media (min-width: 1200px) {

  #home-banner-image {
    width: 150%;
    right: -30%;
    top: -45%;
  }
}

@media (min-width: 1400px) {

  #home-banner-image {
    width: 120%;
    right: -15.5%;
    top: -55%;
  }
}

/* Benefits */

.benefits-section .benefits-right-arrow {
  transform: translate(-162.5%, -30%);
  transition: transform 770ms;
  /* max-height: 1rem; */
  height: 1rem;
}

.benefits-section .learn-more-link:hover .benefits-right-arrow {
  transform: translate(0, -30%);
}

.benefits-section .benefits-card-icon {
  height: 2.5rem;
}

/* .benefits-main-row {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
} */

/* Lightning Network Advantage  */

/* .lightning-network-advantage h2 {
  width: 14em !important;
} */
@supports (-webkit-appearance: none) {
  .lightning-network-advantage h2 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
}

/* Trusted By Businesses */

.dotted-background {
  bottom: -50% !important;
  transform: translate(0, 10%);
}

/* Worldwide Reach */

.worldwide-reach-section .text-box-1 p {
  font-size: 0.75em !important;
}

.worldwide-reach-section .text-box-1 .message-sup-text {
  font-size: 0.625em !important;
}

.worldwide-reach-section .bitcoin-sign {
  height: 1.25em !important;
}

/* API for Businesses */
.api-businesses-section .contact-us-button {
  background-color: var(--steel-pink-color);
  font-size: 0.75em !important;
}

/* Payout Details */
.payout-details-section .payout-details-wrapper {
  padding: 3px !important;
  width: 90% !important;
}

.payout-details-section .payout-details-col {
  flex: 0 0 12.5%;
}

.payout-details-section .payout-details-col img {
  max-height: 1.9rem;
}

.payout-details-section .payout-details-col.header-payout-details {
  max-height: none;
}

.payout-details-section .payout-details-text-col {
  flex: 0 0 37.5%;
}

/* World In Hands */
.world-in-hands-section .world-hands-map {
  bottom: 0;
}