/* Banner */
@media (min-width: 364px) {
  #home-banner h1 br {
    display: inline !important;
  }
}

#home-banner .home-banner-img-container {
  min-height: 16rem;
}

#home-banner-image {
  width: 127.5%;
  top: -10%;
  right: -10%;
}

@media (min-width: 390px) {

  #home-banner-image {
    top: -30%;
  }
}

@media (min-width: 992px) {

  #home-banner-image {
    width: 160%;
    right: -35%;
    top: -20%;
  }
}

@media (min-width: 1200px) {

  #home-banner-image {
    width: 150%;
    right: -30%;
    top: -45%;
  }
}

@media (min-width: 1400px) {

  #home-banner-image {
    width: 120%;
    right: -15.5%;
    top: -55%;
  }
}

/* Benefits */

.benefits-section .benefits-card-icon {
  height: 2.5rem;
}


/* Lightning Network Advantage  */

@supports (-webkit-appearance: none) {
  .lightning-network-advantage h2 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
}


/* Worldwide Reach */

.worldwide-reach-section .text-box-1 p {
  font-size: 0.75em !important;
}

.worldwide-reach-section .text-box-1 .message-sup-text {
  font-size: 0.625em !important;
}

.worldwide-reach-section .bitcoin-sign {
  height: 1.25em !important;
}

/* API for Businesses */
.api-businesses-section .contact-us-button {
  background-color: var(--steel-pink-color);
  font-size: 0.75em !important;
}

/* Payout Details */
@media (max-width: 375px) {
  .payout-details-home-section .payout-first-column{
    width: 27.5%;

  }

  .payout-details-home-section .payout-first-column p {
    display: none !important;
  }

  .payout-details-home-section .payout-first-column img {
    display: inline !important;
  }

}

.payout-details-home-section a{
  padding: 0.125rem !important;
}

/* World In Hands */
.world-in-hands-section .world-hands-map {
  bottom: 0;
}