/* Pay-ins Pay-outs */

.pay-ins-outs-section .card-bg-img {
  transform: translateY(1rem);
}

/* API Features */

.api-features-section .api-features-card {
  background-color: #1b1e2f;
  box-shadow: 0px 4px 4px black;
}

/* Engineered For Developers */

.engineered-for-developers ul,
.pay-portal-section ul {
  list-style: none;
}

.engineered-for-developers ul p,
.pay-portal-section ul p {
  margin: 0px;
}

/* Enabled Countries */

.enabled-countries-section .flag-wrapper {
  width: 12.5%
}

.text-transition {
  transform: scale(1.25);
}

.continent-p {
  transition: transform 1s;
}

/* Payout Details */

@media (max-width: 375px) {
  .business-payout-details .payout-first-column{
    width: 27.5%;

  }

  .business-payout-details .payout-first-column p {
    display: none !important;
  }

  .business-payout-details .payout-first-column img {
    display: inline !important;
  }

}