/* API Features */

.api-features-section .api-features-card {
  background-color: #1b1e2f;
  box-shadow: 0px 4px 4px black;
}

/* Engineered For Developers */

.engineered-for-developers ul,
.pay-portal-section ul {
  list-style: none;
}

.engineered-for-developers ul p,
.pay-portal-section ul p {
  margin: 0px;
}

.engineered-for-developers button.transition-1:hover {
  font-size: 1.125em !important;
}

/* Pay Portal */

.pay-portal-section h2 {
  width: 6.5em;
}

/* Enabled Countries */

.enabled-countries-section button.transition-1:hover {
  font-size: 1.125em !important;
}

.enabled-countries-section .flag-wrapper {
  width: 8%
}


.enabled-countries-section .enabled-row-wrapper:hover .enabled-countries-continent {
  font-size: 1.75rem !important;
}

.enabled-countries-section .flags-wrapper {
  overflow-y: hidden;
}

.enabled-countries-section .slide-in-up {
  animation: 0.35s ease-in-out 0s slide-in-up;
}
/* .enabled-countries-section .slide-out-down {
  animation: 0.15s ease-in-out 0s slide-out-down;
} */
.enabled-countries-section .slide-out-down {
  height: 0px !important;
}

@keyframes slide-in-up {
  0%{max-height: 0px;}
  100% {max-height: 180px;}
  
}

@keyframes slide-out-down {
  0%{max-height: 180px;}
  100% {max-height: 0px;}
}