.navbar-nav .nav-link.active {
  color: var(--steel-pink-color);
}

#navbar {
  transition: transform 0.75s ease-out;
}

#navbar.hidden {
  transform: translateY(-74px);
}

#navbar.hidden:has(.collapse.show) {
  transform: translateY(-274px);
}

#navbar.glassmorphism,
#navbar:has(.collapse.show),
#navbar:has(.collapsing) {
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  -webkit-backdrop-filter: blur(3.8px);
}

#navbar.glassmorphism.dark-mode-nav,
#navbar.dark-mode-nav:has(.collapse.show),
#navbar.dark-mode-nav:has(.collapsing)  {
  background: rgba(var(--eerie-black-rgb), 0.86) !important;
}